@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.WhyChooseUsSection)Model.Content;
}

<section class="choose-us ">
    <div class="container mx-auto pt-30">
        <div class="content-wrapper flex flex-col items-center pb-30">
            <h2 class="leading-tight text-center">
                @content.WhyChooseUsTitle
            </h2>
            
            <div class="mt-12 max-w-2xl text-center leading-relaxed">
                @Html.Raw(content.WhyChooseUsDescription)
            </div>

            <a href="@content.WhyChooseUsButtonLink?.Url"
               class="mt-12 bg-primary text-white py-3 px-10 rounded font-bold">
                @content.WhyChooseUsButtonText
            </a>
        </div>
        <div>
            <img src="@content.WhyChooseUsImage.Url()" alt="Team">
        </div>
    </div>

</section>